.large-header {
  font-size: 200px;
  font-variant: small-caps;
  font-weight: bolder;
}

.center {
  text-align: center;
}

.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
