<nav class="navbar navbar-inverse navbar-static-top bg-secondary">
  <div class="container"><!--fluid/-->
    <div class="navbar-header">
      <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"></button> -->
      <a class="navbar-brand" routerLink="/welcome">Investorep</a>
    </div>

    <ul class="nav navbar-nav">
      <li *ngIf="isLoggedIn()"><a href="/dashboard">Dashboard</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Analyze <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/stocks">Stocks</a></li>
          <li><a href="/marketsectors">Market Sectors</a></li>
          <li><a href="/crowdsourced">Crowdsourced Information</a></li>
        </ul>
      </li>
      <li *ngIf="isLoggedIn()"><a href="/contribute">Crowdsource</a></li>
      <li *ngIf="isLoggedIn()"><a href="/portfolio">Your Portfolio</a></li>
      <li *ngIf="isLoggedIn()"><a href="/reputation">Reputation</a></li>
    </ul>

    <div id="navbar" class="navbar-collapse collapse" *ngIf="!isLoggedIn()">
      <form  [formGroup]="loginCredentials" (ngSubmit)="login(loginCredentials.value)" class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" placeholder="Email" class="form-control" formControlName="email">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control" formControlName="password">
        </div>
        <button type="submit" class="btn btn-success btn-md">Log in</button>
        <button type="button" class="btn btn-primary btn-md" routerLink="/register">Sign up</button>
      </form>
    </div>

    <ul *ngIf="isLoggedIn()" class="nav navbar-nav align-right">
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">{{activeUsername}}<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Account</a></li>
          <li><a href="#" (click)="logout()">Log out</a></li>
        </ul>
      </li>
    </ul>
    <!-- <a class="navbar-brand align-right" *ngIf="isLoggedIn()" (click)="logout()">Log out</a> -->
  </div>
</nav>
