<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/welcome">Investorep</a>
    </div>

    <ul class="navbar-nav align-right">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Log in</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container py-3 top-spacing-reg-login">
  <div class="row align-items-center">
    <div class="mx-auto col-sm-6">
      <div class="card">
        <div class="card-header">
          <h2 class="mb-0">Forgot Password?</h2>
        </div>

        <div class="card-body">
          <div class="text-center mb-4">
            <h5>Enter the e-mail address associated with your account.</h5>
          </div>
          <div class="alert alert-danger" *ngIf="!validCredentials">
            <strong>Invalid e-mail:</strong> the entered e-mail address does not belong to an account.
          </div>
          <div class="panel-body">
            <form role="form" [formGroup]="form" (ngSubmit)="resetPassword(form.value)">
              <div class="form-group col-xs-12" [ngClass]="{ 'has-error': submitted && form.value.email === '' }">
                <input type="text" formControlName="email" class="form-control form-control-lg" placeholder="E-mail Address"/>
                <div *ngIf="submitted && form.value.email === ''" class="text-danger">
                  <div>* Please enter an e-mail address</div>
                </div>
              </div>

              <div class="text-center">
                <input type="submit" value="Reset Password" class="btn-lg btn-success rounded">
              </div>

              <a class="navbar-brand link" routerLink="/register">Create an account</a>
              <a class="navbar-brand link1" routerLink="/login">Login page</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-loading *ngIf="loading"></app-loading>
