<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"></button>
      <a class="navbar-brand" routerLink="/welcome">Investorep</a>
    </div>
  </div>
</nav>

<div class="container">
  <div class="col-md-10 col-md-offset-1">
    <h1>Create Account<small class="align-right">Start making smarter investment decisions today</small></h1>
    <hr/>
    <div class="panel register-login-background">
      <div class="panel-body">
        <form role="form">
          <div class="form-group">
            <input type="text" name="first_name" class="form-control input-lg" placeholder="First Name">
          </div>

          <div class="form-group">
            <input type="text" name="last_name" class="form-control input-lg" placeholder="Last Name">
          </div>

          <div class="form-group">
            <input type="text" name="email" class="form-control input-lg" placeholder="E-mail Address">
          </div>

          <div class="form-group">
            <input type="text" name="username" class="form-control input-lg" placeholder="Username">
          </div>

          <div class="form-group">
            <input type="password" name="password" class="form-control input-lg" placeholder="Password">
          </div>

          <div class="form-group">
            <input type="password" name="password_confirmation" class="form-control input-lg" placeholder="Confirm Password">
          </div>

          <input type="submit" value="Register" class="btn-lg btn-primary">

        </form>
      </div>
    </div>
  </div>
</div>
